.box-layout {
    align-items: center;
    background: white;
    /*background: url('/images/bg.jpg');*/
    background-size: cover;
    display: flex;
    flex-flow: column;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.box-layout__box {
    background: white;
    border-radius: $s-radius;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-bottom: $s-size;
    padding: $m-size $m-size;
    text-align: center;
    width: 28rem;
    h3 {
        color: $grey;
        text-align: center; 
        width: 100%;
    }
}

.box-layout__box--link {
    color: $dark-grey;
    text-decoration: none;
    transition: background .3s ease;
    &:hover {
        text-decoration: underline;
        background: fade-out(darken(white, 10), .15);
    }
}

.box-layout__title {
    margin: 0 0 $m-size 0;
    line-height: 1;
}
