.button {
    background: $blue;
    border: none;
    border-radius: $s-radius;
    color: white;
    display: inline-block;
    font-weight: 300;
    font-size: $font-size-large;
    line-height: 1;
    padding: $s-size;
    text-decoration: none;
    transition: background .3s ease;
    &:disabled {
        color: lighten($grey, 15);
        background: lighten($grey, 5);
        &:hover {
            background: lighten($grey, 5);
        }
    }
    &:hover {
        background: darken($blue, 10%);
    }
}

.button--link {
    background: none;
    &:hover {
        background: none;
        text-decoration: underline;
    }
}

.button--login {
    align-items: center;
    border-radius: $s-radius;
    display: flex;
    flex-flow: row;
    justify-content: left;
    margin-bottom: $s-size;
    width: 100%;
}

.button--login__item {
    margin-right:$s-size;
}

.button--secondary {
    background: #888888;
}