// Colors
$blue: #1473f0e0;
$dark-blue: #063f66;
$grey: #666;
$dark-grey: #333333;
$off-white:  #f7f7f7;
// Font sizes
$font-size-xsmall: 1.2rem;
$font-size-small: 1.4rem;
$font-size-large: 1.8rem;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size:4.8rem;
$desktop-breakpoint: 45rem;
// Radius
$s-radius: 3px;
